@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@regular,500;700;900&display=swap&subset=cyrillic-ext');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {

    background: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
}

header{
    display: flex;
    flex-flow: row wrap;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    height: 80px;
}
header .halfMenu1 {
    display: flex;
    width: 50%;
    align-content: space-between;
    align-items: center;
}
header .halfMenu2 {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
header .halfMenu2>div {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
header .halfMenu2>div>a {
    text-decoration: none;
    color: #757575;
    border-bottom: 2px solid transparent;
}
.logoMain {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
main {
    display: flex;
    width: 100%;
    height: 600px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #2F303A;
}
main .banner {
    max-width: 1170px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
main>.banner>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
}
main>.banner>button {
    background: #2196F3;
    color: #FFFFFF;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 45px;
}
main>.banner>button:hover {
    background: #188CE8;
}
.feature {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.feature div {
    display: flex;
    flex-flow: column;
    width: 270px;
}
.feature h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 20px;
}
.feature p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.whatWeDo {
    display: flex;
    max-width: 1170px;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 72px;
}
.whatWeDo h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    flex-basis: 100%;
}
.ourTeamBG {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #F5F4FA;
}
.ourTeam {
    display: flex;
    max-width: 1170px;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 94px;
}
.ourTeam h2 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    flex-basis: 100%;
}
.teamCard {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: white;
}
.ourTeamName {
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.ourTeamRole {
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
footer {
    background: #2F303A;
    
}
.footerContent {
    display: flex;
    max-width: 1170px;
    height: 252px;
    margin: 0 auto;
    justify-content: flex-start;
    flex-flow: column;
    align-items: flex-start;
}
.footerLogo {
    display: flex;
    margin-top: 60px;
}
.footerContent div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.6);
}
.footerContent div p:first-child {
    color: #FFFFFF;
    margin-top: 30px;
}